.ApiPage__instructions {
  font-weight: 100;
  font-size: 20px;
}

.ApiPage__instructions__small {
  color: #aaa;
}

.ApiPage__instructions__verb {
  color: #e00097;
  font-weight: bold;
}

.ApiPage__graphiql-container {
  height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}

.ApiPage__or {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  color: #aaa;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
